<div class="spinner-container" *ngIf="loadingPage">
  <div class="text-container">
    <h2>Data is almost here!</h2>
    <br />
  </div>
  <mat-spinner></mat-spinner>
</div>

<div class="spinner-container" *ngIf="!loadingPage && errorGettingStation">
  <div class="text-container">
    <h2>Error Getting Station. Station Code: '{{ stationCode }}'</h2>
    <h2>Maybe does not exist? :(</h2>
    <br />
  </div>
</div>

<div
  class="container"
  [ngStyle]="{
    visibility: loadingPage || errorGettingStation ? 'hidden' : 'visible'
  }"
>
  <div class="left-column">
    <div class="info-container">
      <h2 class="summary-title">
        <span class="material-icons">info</span>
        Summary
      </h2>
      <div class="info-table">
        <div class="table-row">
          <div class="table-key">Station Code:</div>
          <div class="table-value">{{ stationCode }}</div>
        </div>
        <div class="table-row">
          <div class="table-key">Station Fullname:</div>
          <div class="table-value">{{ fullName }}</div>
        </div>
      </div>
    </div>
    <hr class="rounded" />
    <div
      *ngIf="sessions.length == 0 && !errorGettingStation"
      class="not-found-span"
    >
      <div class="text-container">
        <h2>There are not sessions found for this station :(</h2>
        <br />
      </div>
    </div>
    <h3 style="color: white;">Schedule</h3>
    <app-resuable-table
      [data]="sessionData"
      [columnNames]="sessionDataColumnNames"
      [name]="stationCode">
    </app-resuable-table>


  </div>

  <div class="right-column">
    <div class="diagram" id="positionDiagram"></div>
    <div  class="filtered-chart-section">
      <h3 style="color: rgb(71, 68, 68);">Filter for time</h3>
      <mat-form-field class="form-field" style="width: 150px;">
        <mat-label>Sessions From</mat-label>
        <input
          matInput
          [matDatepicker]="startDatePicker"
          [formControl]="timeFilterStart"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="form-field" style="width: 150px;">
        <mat-label>Sessions Until</mat-label>
        <input
          matInput
          [matDatepicker]="endDatePicker"
          [formControl]="timeFilterEnd"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>

      <button
        mat-flat-button
        color="accent"
        (click)="updateTimeFilters()"
        style="margin-bottom: 10px;"
      >
        Update Charts
      </button>

      <div class="diagram" id="sessionTypeChart"></div>
      <div class="diagram" id="sessionCountBarPlot"></div>
      <div class="diagram" id="obsBarPlot"></div>
      <div class="diagram" id="scansBarPlot"></div>
    </div>
    <div class="diagram" id="trfPosChart"></div>
    <div class="diagram" id="trfVelChart"></div>
  </div>
</div>
