.container {
    margin: 40px;
    display: flex;
    background-color: #4b7fd1;
    border-radius: 20px;
    padding: 30px;
  }

  .brief-info {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .left-column {
    flex: 5; /* This will take 2/10 (or 20%) of the available space */
  }
  
  .right-column {
    margin-left: 20px;
    flex: 8; /* This will take 8/10 (or 80%) of the available space */
    justify-content: center; /* Distribute items evenly within the row */

  }
  
  
  .diagram {
    margin: 20px;
  }
  

  
  .dark-mode-link {
    color: #5da7e8; /* Set the color to blue */
  
    /* Styling visited links */
    &:visited {
      color: #f24ed7; /* Set the color to purple for visited links */
    }
    
    /* Styling links when hovered */
    &:hover {
      color: #b02799; /* Set the color to red when hovered */
    }
    
    /* Styling links when they are active (clicked) */
    &:active {
      color: #30c75d; /* Set the color to green when active (clicked) */
    }
  }


.not-found-span {
  color: white;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4372be;
  border-radius: 10px;
}



  .spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .text-container {
    color: white;
  }
  

  .download-button{
    margin-left: 20px;
    background-color: #49d1de;
  }

  
.summary-title {
  display: flex;
  align-items: center;
  color: white;
  background-color: #3f51b5;
  padding: 16px;
  border-radius: 8px;
  margin: 0;
}

.summary-title .material-icons {
  margin-right: 8px;
}

.info-table {
  width: 100%;
  background: #ffffff;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.table-row {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.table-row:last-child {
  border-bottom: none;
}

.table-key {
  color: #5f6368;
  font-weight: 500;
}

.table-value {
  color: #202124;
}

.table-key, .table-value {
  flex: 1;
  display: flex;
  align-items: center;
}

.table-key {
  font-weight: bold;
}


.filtered-chart-section {
  background-color: #34c6eb;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
}

.form-field {
  padding: 5px;
}