<div class="spinner-container" *ngIf="loadingPage">
  <div class="text-container">
    <h2>Data is almost here!</h2>
    <br />
  </div>
  <mat-spinner></mat-spinner>
</div>

<div
  class="container"
  [ngStyle]="{ visibility: loadingPage ? 'hidden' : 'visible' }"
>
  <div class="left-column">
    <h2 class="summary-title">
      <span class="material-icons">info</span>
      Summary
    </h2>
    <div class="session-table">
      <div class="table-row">
        <div class="table-key">Session</div>
        <div class="table-value">{{ session_id }}</div>
      </div>
      <div class="table-row">
        <div class="table-key">Start</div>
        <div class="table-value">
          {{ session["time_start"] | date : "yyyy-MM-dd hh:mm" }}
        </div>
      </div>
      <div class="table-row">
        <div class="table-key">End</div>
        <div class="table-value">
          {{ session["time_end"] | date : "yyyy-MM-dd hh:mm" }}
        </div>
      </div>
      <div class="table-row">
        <div class="table-key">Operation Center</div>
        <div class="table-value">{{ session["operation_center"] }}</div>
      </div>
      <div class="table-row">
        <div class="table-key">Correlator</div>
        <div class="table-value">{{ session["corr"] }}</div>
      </div>
      <div class="table-row">
        <div class="table-key">Analysis Center</div>
        <div class="table-value">{{ session["subm"] }}</div>
      </div>
      <div class="table-row">
        <div class="table-key">Number of stations</div>
        <div class="table-value">{{ stations.length }}</div>
      </div>
    </div>

    <hr>
    <h3 style="color: white">Sources</h3>
    <app-resuable-table
      [data]="sourceTableData"
      [columnNames]="sourceTableColumnNames"
      [name]="this.session_id"
    >
    </app-resuable-table>

  </div>
  <div class="right-column">
    <div [hidden]="stations.length == 0" class="diagram" id="geoMap"></div>
    <div [hidden]="baselines.length == 0" class="diagram" id="observationsHeatmap"></div>
    <div [hidden]="stations.length == 0" class="diagram" id="barplots"></div>

    <hr>
    <h3 style="color: white">Earth Orientaion Parameter Estimates</h3>
    <app-resuable-table *ngIf="eopQuery"
      [data]="eopQuery!.rows"
      [columnNames]="eopQuery!.columns"
      [name]="this.session_id"
      [showSubsetColumns]="eopTableColumnNames"
      >
      </app-resuable-table>
  
  </div>

</div>



