.diagram {
    margin: 20px;
    height: 500px;
  }
  
.container {
  margin: 40px;
  display: flex;
  background-color: #cf5851;
  border-radius: 20px;
  padding: 30px;
}
.brief-info {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}
  
.left-column {
  flex: 5; /* This will take 2/10 (or 20%) of the available space */
}

.right-column {
  margin-left: 20px;
  flex: 7; /* This will take 8/10 (or 80%) of the available space */
  justify-content: center; /* Distribute items evenly within the row */
}
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.session-table {
  padding: 20;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.table-row {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #e0e0e0;
}

.table-row:last-child {
  border-bottom: none;
}

.table-key {
  color: #5f6368;
  font-weight: 500;
}

.table-value {
  color: #202124;
}

.table-key, .table-value {
  flex: 1;
  display: flex;
  align-items: center;
}

.table-key {
  font-weight: bold;
}


.summary-title {
  display: flex;
  align-items: center;
  background-color: #8a1c15;
  color: white;
  padding: 16px;
  border-radius: 8px;
  margin: 0;
}

.summary-title .material-icons {
  margin-right: 8px;
}

