<div class="button-container">
  <button
    mat-flat-button
    [color]="getTab() === 'general' ? 'accent' : 'primary'"
    (click)="setTab('general')"
  >
    General
  </button>
  <button
    mat-flat-button
    [color]="getTab() === 'sessions' ? 'accent' : 'primary'"
    (click)="setTab('sessions')"
  >
    VLBI Sessions
  </button>
  <button
    mat-flat-button
    [color]="getTab() === 'eop' ? 'accent' : 'primary'"
    (click)="setTab('eop')"
  >
   Earth Orientation Parameters
  </button>
  <button
    mat-flat-button
    [color]="getTab() === 'crf' ? 'accent' : 'primary'"
    (click)="setTab('crf')"
  >
    Celestial Reference Frame
  </button>
  <button
    mat-flat-button
    [color]="getTab() === 'examples' ? 'accent' : 'primary'"
    (click)="setTab('examples')"
    >
    API Examples
  </button>
</div>
