.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Adjust the gap as needed */
 }
 
 .button-container button {
    flex: 1;
    width: 100px; /* Adjust the width as needed */
 }
