<!-- src/app/app.component.html -->
<div class="container">
    <div class="sidenav">
      <app-api-examples-sidenav></app-api-examples-sidenav>
    </div>
    <div class="examples-content">
      <app-api-examples-content></app-api-examples-content>
    </div>
  </div>
  