
  
/* styles.css */

/* Container for centering and adjusting space */
/* styles.css */

/* Container for centering and adjusting space */
.container {
    display: flex;
    justify-content: center;
    padding: 20px;

  }
  
/* styles.css */

/* Style for examples content taking 60% */
.examples-content {
    width: 60%;
    margin-right: 20px; /* Space between content and sidenav */
    border: 1px solid #ccc; /* Thin border around the container */
    border-radius: 5px; /* Rounded corners for the container */
    padding: 15px; /* Add padding inside the border */
  }
  
  
  /* Style for sidenav taking 20% */
  .sidenav {
    position: sticky;
    top: 20px; /* Adjust top spacing as needed */
    width: 20%;
    height: calc(100vh - 40px); /* Calculate sidebar height based on viewport height minus padding */
    overflow-y: auto; /* Enable scrolling for sidebar content */
    margin-right: 10px; /* Space between content and sidenav */

  }
