<div class="spinner-container" *ngIf="loadingPage && !errorGettingSource">
  <div class="text-container">
    <h2>Data is almost here!</h2>
    <br />
  </div>
  <mat-spinner></mat-spinner>
</div>

<div class="spinner-container" *ngIf="!loadingPage && errorGettingSource">
  <div class="text-container">
    <h2>Error Getting Source. Souece Name: '{{ sourceName }}'</h2>
    <h2>Maybe does not exist? :(</h2>
    <br />
  </div>
</div>

<div
  class="container"
  [ngStyle]="{
    visibility: loadingPage || errorGettingSource ? 'hidden' : 'visible'
  }"
>
  <div class="left-column">
    <h2 class="summary-title">
      <span class="material-icons">info</span>
      Summary
    </h2>
    <div class="info-table">
      <div class="table-row">
        <div class="table-key">IERS name:</div>
        <div class="table-value">{{ iersName }}</div>
      </div>
      <div class="table-row">
        <div class="table-key">IVS name:</div>
        <div class="table-value">{{ IVSName }}</div>
      </div>
    </div>
    <hr class="rounded" />

    <div
      *ngIf="sessions.length == 0 && !errorGettingSource"
      class="not-found-span"
    >
      <div class="text-container">
        <h2>There are no sessions found for this Source :(</h2>
        <br />
      </div>
    </div>


    <app-resuable-table
      [data]="sessionData"
      [columnNames]="sessionDataColumnNames"
      [name] = "sourceName"
    >  
    </app-resuable-table>

   
  </div>
  <div class="right-column">
    <div  class="filtered-chart-section">
      <h3 style="color: rgb(71, 68, 68);">Filter for time</h3>
      <mat-form-field class="form-field" style="width: 150px;">
        <mat-label>Sessions From</mat-label>
        <input
          matInput
          [matDatepicker]="startDatePicker"
          [formControl]="timeFilterStart"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="form-field" style="width: 150px;">
        <mat-label>Sessions Until</mat-label>
        <input
          matInput
          [matDatepicker]="endDatePicker"
          [formControl]="timeFilterEnd"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>

      <button
        mat-flat-button
        color="accent"
        (click)="updateTimeFilters()"
        style="margin-bottom: 10px;"
      >
        Update Charts
      </button>

      <div [hidden]="this.sessions.length == 0" class="diagram" id="sessionTypeChart"></div>
      <div [hidden]="this.sessions.length == 0" class="diagram" id="activityChart"></div>
      <div [hidden]="this.sessions.length == 0" class="diagram" id="obsBarPlot"></div>
      <div [hidden]="this.sessions.length == 0" class="diagram" id="scansBarPlot"></div>
    </div>
    <div [hidden]="this.sessions.length == 0" class="diagram" id="crfPosChart"></div>
    <div [hidden]="this.sessions.length == 0" class="diagram" id="crfErrChart"></div>
  </div>
</div>
