<div class="container">
    <div class="left-column">
        
        <h3 style="color: white;">File Types</h3>
        <div style="width: 500px; height: 400px;" id="filetype-piechart"></div>

        <h3 style="color: white;">Latest Files</h3>
        <app-resuable-table
            [data]="filesData"
            [columnNames]="filesColumns"
            [name]="'latest_files'"
            [pageSizes] = "[showNFiles]">
        </app-resuable-table>

    </div>
    <div class="right-column">
        <h3 style="color: white;">Station Worldwide</h3>
        <div id="geoMap"></div>

        <div class="container">
            <div class="sources-column">
                <h3 style="color: #4b7fd1">Stations</h3>
                <app-resuable-table
                    [data]="stationsData"
                    [columnNames]="['station']"
                    [name]="'all_stations'"
                    [pageSizes] = "[25, 100]"
                >
                </app-resuable-table>        
            </div>
        
            <div class="stations-column">
                <h3 style="color: #369c62;">Sources</h3>
                <app-resuable-table
                    [data]="sourcesData"
                    [columnNames]="['source']"
                    [name]="'all_sources'"
                    [pageSizes] = "[25, 100]"
                >
                </app-resuable-table>     
            </div>
        </div>
        
    </div>
    
</div>