#charts_div {
  max-width: 100%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.chart_container {
  width: 80%;
  display: inline-block; /* Make the container take up only as much width as its content */
  margin-top: 20px; /* Add margin around each container */
  text-align: center; /* Center the content horizontally */
  vertical-align: top; /* Align the containers at the top */
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  height: 100%;

}
