<div
  *ngIf="!registeredCharts"
  style="display: flex; justify-content: center; height: 100%; margin-top: 50px"
>
  <mat-icon style="font-size: 80px; color: white; height: 100px; width: 100px"
    >tune</mat-icon
  >
  <h1 style="color: white; margin-left: 20px">Select Chart Options</h1>
</div>

<div id="charts_div">
  <ng-container *ngFor="let keyvalue of registeredCharts | keyvalue">
    <div class="chart_container">
      <app-chart-wrapper
        [data]="keyvalue.value.data"
        [title]="keyvalue.value.title"
        [layout]="keyvalue.value.layout"
      >
      </app-chart-wrapper>
      <button
        mat-flat-button
        color="accent"
        id="removeChart"
        (click)="removeChart(keyvalue.key)"
      >
      Delete Chart
    </button>
    </div>

  </ng-container>
</div>
