@use '@angular/material' as mat;

@include mat.core();
/* For use in src/lib/core/theming/_palette.scss */
$md-purple: (
    50 : #e8e2f1,
    100 : #c7b8dc,
    200 : #a188c5,
    300 : #7b58ad,
    400 : #5f359c,
    500 : #43118a,
    600 : #3d0f82,
    700 : #340c77,
    800 : #2c0a6d,
    900 : #1e055a,
    A100 : #a58cff,
    A200 : #7d59ff,
    A400 : #5526ff,
    A700 : #410dff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


/* For use in src/lib/core/theming/_palette.scss */
$md-red: (
    50 : #fbe6eb,
    100 : #f4c0ce,
    200 : #ed96ad,
    300 : #e66b8c,
    400 : #e04c74,
    500 : #db2c5b,
    600 : #d72753,
    700 : #d22149,
    800 : #cd1b40,
    900 : #c4102f,
    A100 : #fff2f4,
    A200 : #ffbfc8,
    A400 : #ff8c9c,
    A700 : #ff7386,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


// Define the custom primary color palette with a lighter shade
$custom-primary: mat.define-palette($md-purple, 300);

// Define the custom accent color palette
$custom-accent: mat.define-palette($md-red, 500);
// Define the custom theme
$my-theme: mat.define-dark-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

// Include the custom theme in all component themes
@include mat.all-component-themes($my-theme);

