<div class="scrollmenu">
  <div
    class="chart-option"
    (click)="showCharts()"
    [ngStyle]="{
      'color': showingCharts && queries.length > 0  ? '#e04c74' : 'white'
    }"
  >
    <mat-icon>stacked_line_chart</mat-icon>
    <span class="aligned-with-icon">Charts</span>
  </div>


  <mat-card *ngFor="let query of queries" class="query-card" (click)="handleQuerySelection(query)">
    <mat-card-header>
      <mat-card-title class="query-title"     [ngStyle]="{
        'color': query==shownQuery ? '#e04c74' : 'white'
      }"
      >{{ query.title }}
       <button mat-icon-button class="close-button" (click)="removeQuery(query); $event.stopPropagation()">
      <mat-icon>close</mat-icon>
      </button>
    </mat-card-title>
    
      <mat-card-subtitle>
        <mat-icon class="material-symbols-outlined" >open_in_new</mat-icon>
        <span class="aligned-with-icon">Records: {{ query.data.length }}</span>
      </mat-card-subtitle>
    </mat-card-header>
    
  </mat-card>



  <div *ngIf="runningQuery">
    <mat-spinner diameter="20" color="accent"></mat-spinner>
  </div>
</div>


<app-resuable-table
  [hidden]="!shownQuery"
  [name]="shownQuery?.title ? shownQuery!.title : 'query'"
  [columnNames]="displayedColumns"
  [data]="shownQuery?.data ? shownQuery!.data : []"
  [columnUnits]="shownQuery?.units"
  [pageSizes] = "[50, 100, 200]"
  
  >
</app-resuable-table>

<app-chart-handler
  [parentContainer]="this"
  [hidden]="!(showingCharts && queries.length > 0)"
></app-chart-handler>

<div
  *ngIf="showingCharts && queries.length === 0"
  style="display: flex; justify-content: center; height: 100%; margin-top: 50px"
>
  <mat-icon style="font-size: 64px; color: white; height: 100px; width: 100px"
    >query_stats</mat-icon
  >
  <h1 style="color: white; margin-left: 20px">Run Queries to Plot!</h1>
</div>
