.scrollmenu {
  display: flex;
  align-items: center;
  background-color: #3a287a;
  overflow: auto;
  white-space: nowrap;
  flex-wrap: nowrap; /* Ensures items stay in a single row */
  padding: 10px; /* Adjust padding as needed */
}


div.scrollmenu {
    background-color: #3a287a;
    overflow: auto;
    white-space: nowrap;
  }
  

  
div.scrollmenu div {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  cursor: pointer; /* Change cursor to pointer to indicate interactivity */

}
  
div.scrollmenu div:hover {
background-color: #55497e;
}


.chart-option{
    padding: 14px;
    background-color: #383e94;
    vertical-align: middle;

}
.aligned-with-icon{
  position: relative;
  top: -5px;
}
.chart-option:hover {
background-color: #3057ac !important;
    
}

.form-row {
  display: inline-flex;
  align-items: center;
  background-color: #383e94;
  padding-right: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}


.table-info {
  display: flex;
  border-top: '3px solid #e04c74';
  background-color: #e04c74;
  margin-left: 10px;
  align-items: center;
}

.info-table {
  margin-left: 10px;
}

.download-button{
  margin-left: 20px;
  background-color: #572835;
}

.info-section {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 5px;
  background-color: #e04c74;
  display: flex;
}

.query-info {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.form-row[hidden] {
  display: none !important;
}

.form-field {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: -10px;
  width: 175px;

}

.query-card {
  flex: 0 0 auto; /* Ensure cards do not grow or shrink */
  margin-left: 5px;
  max-height: 140px; /* Decrease the overall height */
  cursor: pointer; /* Add cursor pointer to indicate clickable */
}

.mat-card-header {
  padding: 2px 2px 2px 2px; /* Reduce top padding and remove bottom padding */
}

.mat-card-content {
  padding: 4px; /* Reduce content padding */
}

.query-title {
  font-size: 16px; /* Smaller font size */
  font-weight: bold; /* Different font weight */
  color: white; /* Custom color */
  display: flex;
  justify-content: space-between;
  align-items: center;
  

  
}
.close-button {
  color: #cc2532; /* Adjust color as needed */
}
.mat-card-subtitle {
  font-size: 12px; /* Adjust subtitle font size */
  color: #ccc; /* Adjust subtitle color */
  margin-bottom: 0px; /* Adjust margin as needed */
}

.dark-mode-link {
  color: #5da7e8; /* Set the color to blue */

  /* Styling visited links */
  &:visited {
    color: #f24ed7; /* Set the color to purple for visited links */
  }
  
  /* Styling links when hovered */
  &:hover {
    color: #b02799; /* Set the color to red when hovered */
  }
  
  /* Styling links when they are active (clicked) */
  &:active {
    color: #30c75d; /* Set the color to green when active (clicked) */
  }
}

.material-symbols-outlined {
  font-size: 16px; /* Adjust the size as needed */
  color: white; /* Adjust the color as needed */
}