.code-container {
    position: relative;
    width: 100%;

    display: inline-block; /* Ensures the container only takes as much space as needed */
  }
  
  .copy-button {
    position: absolute;
    top: 50px; /* Adjust this value to position the button */
    right: 20px; /* Adjust this value to position the button */
    padding: 5px 5px;
    color: #fff;
    font-size: 22px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    z-index: 1; /* Ensures the button appears above the code block */
  }
  
  .copy-button:hover {
    background-color: #0056b3;
  }
  
