<div class="code-container">
    <pre>
      <code class="language-{{ language }}"
       #codeElement>{{code}}</code>
    </pre>
    <mat-icon class="copy-button" (click)="copyCode(codeElement)">content_copy</mat-icon>
  </div>
  