<div class="imageContainer">
  <img class="bgImg" src="assets/background.jpg" />
  <div class="searchContainer">
    <mat-form-field class="searchAnythingField">
      <mat-select
        [ngModel]="selectedItem"
        (ngModelChange)="onOptionClick($event)"
        placeholder="Search for stations, sources, sessions..."
        [multiple]="false"
      >
        <mat-option>
          <ngx-mat-select-search
            [formControl]="searchFilterCtrl"
            [searching]="searching"
          ></ngx-mat-select-search>
        </mat-option>
        <mat-option
          *ngFor="let item of filteredResults | async"
          [value]="item"
          (click)="onOptionClick(item)"
          (keydown.enter)="onOptionClick(item)"
        >
          <mat-icon *ngIf="item.type == 'station'"
            >settings_input_antenna</mat-icon
          >
          <mat-icon *ngIf="item.type == 'analystCenter'">hub</mat-icon>
          <mat-icon *ngIf="item.type == 'programme'">calendar_month</mat-icon>
          <mat-icon *ngIf="item.type == 'source'">star</mat-icon>
          <mat-icon *ngIf="item.type == 'session'">timelapse</mat-icon>

          {{ item.name }} ({{ item.type }})
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <a [routerLink]="['/general']">
    <img class="logoImg" src="assets/eth_logo.svg" />
  </a>
  <span class="version-info">For feedback or suggestions please contact: mschartner&commat;ethz.ch or soja&commat;ethz.ch</span>
  <div class="top-right">

    <a href="/api/v1/docs" title="API Documentation">
      <mat-icon class="material-symbols-outlined"
        >webhook</mat-icon
      >
    </a>
    <a href="admin" title="Admin page">
      <mat-icon class="material-symbols-outlined">person_apron</mat-icon>
    </a>
    <a href="https://gitlab.ethz.ch/spacegeodesy_public/glovdh_ord" title="Repository">
      <mat-icon class="material-symbols-outlined">code</mat-icon>
    </a>
  </div>

  <!-- Other content -->
</div>

<app-button-navigation></app-button-navigation>

<router-outlet />
