.imageContainer {
  position: relative;
}

.bgImg {
  width: 100%;
  height: auto;
}

.searchContainer {
  position: absolute;
  top: 0px; /* Adjust as needed for spacing from top */
  left: 50%;
  transform: translateX(-300px);
  margin: 0 auto; /* Center horizontally */
  z-index: 2;
}

.searchAnythingField {
  width: 600px;
  border-radius: 5px;
}

.logoImg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: white;
  cursor: pointer; 
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px; /* Optional: Adjust margin as needed */
  display: flex;
  gap: 10px; /* Adjust gap to add space between icons */
}

.material-symbols-outlined {
  font-size: 24px; /* Adjust the size as needed */
  color: white; /* Adjust the color as needed */
}

.version-info {
  color: yellow;
  background-color: black;
  position: absolute;
  bottom: 10%;
  left: 50%; 
  transform: translateX(-50%);
  z-index: 1;
}
