

.dark-mode-link {
    color: #5da7e8; /* Set the color to blue */
  
    /* Styling visited links */
    &:visited {
      color: #f24ed7; /* Set the color to purple for visited links */
    }
    
    /* Styling links when hovered */
    &:hover {
      color: #b02799; /* Set the color to red when hovered */
    }
    
    /* Styling links when they are active (clicked) */
    &:active {
      color: #30c75d; /* Set the color to green when active (clicked) */
    }
    cursor: pointer;
  }
  
  #sourceTableFilter {
    margin-top: 20px; /* Adjust the value as needed */
  }
  
  
.filter-section{
  margin-top: 12px;
  min-width: 100px;
}

.download-button{
  margin-left: 10px;
  background-color: #572835;
}


#input-mat-form {
  width: 125px;
}

.status-ok {
  color: #40b00c;
}

.status-error {
  color: #b0140c;
}


th, td {
  padding-left: 5px;
  padding-right: 0px;
}