
<div class="filter-section">
  <mat-form-field subscriptSizing="dynamic" id=input-mat-form>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applySourceTableFilter($event)"
      placeholder="search..."
      #input
    />
  </mat-form-field>

  <button
    mat-mini-fab
    matTooltip="Download Query"
    class="download-button"
    (click)="download()"
  >
    <mat-icon>download</mat-icon>
  </button>
</div>
<table *ngIf="loaded" mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" matSort id="table" >

  <!-- Generate columns dynamically for each columnName -->
  <ng-container *ngFor="let columnName of showSubsetColumns || columnNames; let idx = index" [matColumnDef]="columnName">
    <ng-container [ngSwitch]="columnName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ getColumnHeader(columnName, idx) }}
      </th>
      <td mat-cell *matCellDef="let element">
        <ng-container [ngSwitch]="columnName">
          <ng-container *ngSwitchCase="'epoch'">
            {{ element[columnName] | date: 'yyyy-MM-dd hh:mm' }}
          </ng-container>
          <ng-container *ngSwitchCase="'time_start'">
            {{ element[columnName] | date: 'yyyy-MM-dd hh:mm' }}
          </ng-container>
          <ng-container *ngSwitchCase="'time_end'">
            {{ element[columnName] | date: 'yyyy-MM-dd hh:mm' }}
          </ng-container>
          <ng-container *ngSwitchCase="'parsed_date'">
            {{ element[columnName] | date: 'yyyy-MM-dd hh:mm' }}
          </ng-container>
          <ng-container *ngSwitchCase="'w_mean_mjd'">
            {{ element[columnName] | date: 'yyyy-MM-dd hh:mm' }}
          </ng-container>
          <ng-container *ngSwitchCase="'error'">
            <span [ngClass]="getStatusClass(errorToStatus(element[columnName]))">
              {{ errorToStatus(element[columnName]) }}
            </span>
          </ng-container>
          <ng-container *ngSwitchCase="'first_mjd'">
            {{ element[columnName] | date: 'yyyy-MM-dd hh:mm' }}
          </ng-container>
          <ng-container *ngSwitchCase="'last_mjd'">
            {{ element[columnName] | date: 'yyyy-MM-dd hh:mm' }}
          </ng-container>
          <ng-container *ngSwitchCase="'session_id'">
            <a [routerLink]="['/session', element[columnName]]" class="dark-mode-link">{{ element[columnName] }}</a>
          </ng-container>
          <ng-container *ngSwitchCase="'source_id'">
            <a [routerLink]="['/source', element[columnName]]" class="dark-mode-link">{{ element[columnName] }}</a>
          </ng-container>
          <ng-container *ngSwitchCase="'source'">
            <a [routerLink]="['/source', element[columnName]]" class="dark-mode-link">{{ element[columnName] }}</a>
          </ng-container>
          <ng-container *ngSwitchCase="'station'">
            <a [routerLink]="['/station', element[columnName]]" class="dark-mode-link">{{ element[columnName] }}</a>
          </ng-container>
          <ng-container *ngSwitchCase="'source_file'">
            <a (click)="onFilenameClick(element[columnName])" class="dark-mode-link">{{ element[columnName] }}</a>
          </ng-container>  
          <ng-container *ngSwitchCase="'file_url'">
            <a [href]="element[columnName]" target="_blank" class="dark-mode-link">{{ element[columnName] | urlLastPart }}</a>
          </ng-container>          
          <ng-container *ngSwitchCase="'stations'">
            <ng-container *ngFor="let station of element[columnName]; let last = last">
              <ng-container *ngIf="station !== '...'">
                <a [routerLink]="['/station', station]" class="dark-mode-link">{{ station }}</a>
              </ng-container>
              <ng-container *ngIf="station === StationListShortener">
                <span>{{ station }}</span>
              </ng-container>
              <span *ngIf="!last">&nbsp;</span>
            </ng-container>
            
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ format(element[columnName]) }}
          </ng-container>
        </ng-container>
      </td>
    </ng-container>
  </ng-container>

  <!-- Header row definition -->
  <tr mat-header-row *matHeaderRowDef="showSubsetColumns || columnNames"></tr>

  <!-- Row definition -->
  <tr mat-row *matRowDef="let row; columns: showSubsetColumns || columnNames;"></tr>
</table>


    
<mat-paginator
[pageSizeOptions]="pageSizes"
aria-label="Select page"
></mat-paginator>