<h2 style="color: white;">Contents</h2>
<nav>
  <ul>
    <ng-container *ngFor="let chapter of chapters; let i = index">
      <li>
        <a class="dark-mode-link" [href]="getFragmentUrl(chapter.title)">
          {{ i + 1 }}. {{ chapter.title }}
        </a>
        <ul>
          <ng-container *ngFor="let subchapter of chapter.subchapters; let j = index">
            <li>
              <a class="dark-mode-link" [href]="getFragmentUrl(subchapter.title)">
                {{ i + 1 }}.{{ j + 1 }} {{ subchapter.title }}
              </a>
            </li>
          </ng-container>
        </ul>
      </li>
    </ng-container>
  </ul>
</nav>
