/* src/app/side-navigation/side-navigation.component.css */
nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    margin-bottom: 10px;
  }
  
  nav ul li ul {
    margin-left: 20px;
  }
  


  .dark-mode-link {
    color: #5da7e8; /* Set the color to blue */
  
    /* Styling visited links */
    &:visited {
      color: #f24ed7; /* Set the color to purple for visited links */
    }
    
    /* Styling links when hovered */
    &:hover {
      color: #b02799; /* Set the color to red when hovered */
    }
    
    /* Styling links when they are active (clicked) */
    &:active {
      color: #30c75d; /* Set the color to green when active (clicked) */
    }
    cursor: pointer;
  }