<div class="form-row">
  <mat-form-field class="form-field">
    <mat-label>Analyst Agency</mat-label>
    <mat-select
      [(ngModel)]="selectedAnalystCenter"
      (ngModelChange)="onAnalystAgencyChange($event)"
      [disabled]="loading"
    >
      <mat-option *ngFor="let ac of analystCenters" [value]="ac">{{
        ac
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-field" id="sourcefiles_cb">
    <mat-label>Source Files</mat-label>
    <mat-select
      [(ngModel)]="selectedSourceFile"
      (selectionChange)="queryChanged()"
      [disabled]="loading"
    >
      <mat-option *ngFor="let sf of sourceFiles" [value]="sf">{{
        sf | urlLastPart
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Query Tag</mat-label>
    <input
      matInput
      [(ngModel)]="queryTag"
      (input)="queryTagChanged()"
      [disabled]="loading"
    />
  </mat-form-field>

  <button
    mat-flat-button
    color="accent"
    id="search_bt"
    (click)="runQuery()"
    [disabled]="loading"
  >
    Add Query
  </button>
  <mat-spinner
    diameter="30"
    color="accent"
    *ngIf="loading"
  ></mat-spinner>
</div>

<app-query-view [page]="'crf'"></app-query-view>
