<!DOCTYPE html>
<html>
<head>
    <title>{{ run_id }}</title>
</head>
<body>
    <h1>{{ run_id }}</h1>
    <ol>
        {% for line in log_content %}
            <li>{{ line }}</li>
        {% endfor %}
    </ol>
</body>
</html>
