<!DOCTYPE html>
<html>
<head>
    <title>Logs</title>
</head>
<body>
    <h1>Logs</h1>
    <ul>
        {% for run_id in run_ids %}
            <li><a href="/admin/logs/{{ run_id }}">{{ run_id }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>