<mat-tab-group dynamicHeight id="tab-group">
  <mat-tab *ngFor="let tab of tabs; let i = index">
    <ng-template mat-tab-label>{{ tab.label }}</ng-template>
    <div class="tab-div"></div>
    <button mat-icon-button (click)="removeTab(tab.label)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-tab>
</mat-tab-group>
<h3 *ngIf="tabs.length == 0">Make Queries for Table View</h3>
