.error-dialog-container {
    text-align: center;
    padding: 20px;
  }
  
  .error-icon {
    font-size: 48px;
    color: #f44336; /* Material Design Red */
    vertical-align: middle;
    margin-right: 10px;
  }
  
  mat-dialog-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  mat-dialog-content {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  button {
    min-width: 100px;
  }
  