<div class="error-dialog-container">
  <h1 mat-dialog-title>
    <mat-icon class="error-icon">error_outline</mat-icon>
    Error
  </h1>
  <div mat-dialog-content>
    <p>{{ data.message }}</p>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="onClose()">Close</button>
  </div>
</div>
