<h2>Intro</h2>
<p class="subchapter-description">
  This page is meant to get you started with the GLOVDH Restful API.
  While this section is not exhaustive, it gives a lot of examples 
  how you can interact with the database for common usecases. 
  For a detailed documentation of the endpoints,
  their parameters as well as reponses, please visit the documentation page at
  <a class="dark-mode-link" href="/api/v1/docs" title="API Documentation">docs page</a>.
</p>
<div *ngFor="let chapter of chapters; let i = index">
  <h2 id="{{ chapter.title }}">
    {{ i + 1 }}. {{ chapter.title }}
  </h2>
  <div *ngFor="let subchapter of chapter.subchapters; let j = index">
    <h3 id="{{ subchapter.title }}">
      {{ i + 1 }}.{{ j + 1 }} {{ subchapter.title }}
    </h3>
    <p class="subchapter-description">{{ subchapter.description }}</p>
    <app-code-highlight [code]="subchapter.code" [language]="language"></app-code-highlight>
  </div>
</div>
