/* styles.css */

/* Style for main chapters */
h2 {
    margin-top: 20px;
    font-size: 24px;
    color: #fff; /* White text for visibility on dark background */
  }
  
  /* Style for subchapters */
  h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #ccc; /* Light gray text */
  }
  
  /* Style for subchapter description */
  .subchapter-description {
    font-size: 16px;
    color: #aaa; /* Lighter gray text */
    margin-bottom: 10px;
  }
  
  /* Style for code blocks */
  app-code-highlight {
    margin-top: 10px;
    display: block;
    color: #fff; /* White text */
    padding: 10px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
  }
  
  /* Optional: Adjust margin for nested components if needed */
  app-code-highlight h3 {
    margin-top: 0;
  }
  
  
  .dark-mode-link {
    color: #5da7e8; /* Set the color to blue */
  
    /* Styling visited links */
    &:visited {
      color: #f24ed7; /* Set the color to purple for visited links */
    }
    
    /* Styling links when hovered */
    &:hover {
      color: #b02799; /* Set the color to red when hovered */
    }
    
    /* Styling links when they are active (clicked) */
    &:active {
      color: #30c75d; /* Set the color to green when active (clicked) */
    }
    cursor: pointer;
  }