<div class="form-row">

  <mat-form-field class="form-field">
    <mat-label>Programmes</mat-label>
    <mat-select [formControl]="selectedProgramCtrl" multiple
    >
      <mat-form-field>
        <input
          matInput
          placeholer="Search"
          (input)="filterItems($event.target)"
        />
      </mat-form-field>
      <mat-select-trigger>
        {{ selectedProgramCtrl.value?.[0] === ALLPROGRAMS ? selectedProgramCtrl.value![1] : selectedProgramCtrl.value![0] }}
        @if ((selectedProgramCtrl.value?.length || 0) > 1) {
          <span class="additional-selection">
            (+{{(selectedProgramCtrl.value?.length || 0) - 1}} {{selectedProgramCtrl.value?.length === 2 ? 'other' : 'others'}})
          </span>
        }
      </mat-select-trigger>

      <mat-option *ngFor="let program of programs" [value]="program"
      [class.hide]="!filteredPrograms.includes(program)"
      (onSelectionChange)="programSelectionChanged($event, program)"
      >
        {{ program }}
      </mat-option>
      
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-field" style="width: 200px;">
    <mat-label>Sessions From</mat-label>
    <input
      matInput
      [matDatepicker]="startDatePicker"
      [formControl]="startDate"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="startDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="form-field" style="width: 200px;">
    <mat-label>Sessions To</mat-label>
    <input matInput [matDatepicker]="endDatePicker" [formControl]="endDate" />
    <mat-datepicker-toggle
      matSuffix
      [for]="endDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="form-field" style="width: 200px;">
    <mat-select [(value)]="selectedSessionType" placeholder="Session Type">
        <mat-option value="all">All Sessions</mat-option>
        <mat-option value="24-hour">Only 24-hour</mat-option>
        <mat-option value="intensive">Only Intensive</mat-option>
    </mat-select>
</mat-form-field>

  <button mat-flat-button color="accent" id="search_bt" (click)="runQuery()">
    Run Query
  </button>
</div>

<mat-expansion-panel
  [ngStyle]="{ visibility: showQueryResult ? 'visible' : 'hidden' }"
>
  <mat-expansion-panel-header>
    <mat-panel-description>
      <mat-icon style="font-size: 24px; color: #DB2C5B; margin: 5px"
        >leaderboard</mat-icon
      >
      <h3 style="color: #DB2C5B;">Click For Summary Plots</h3>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div id="barPlotDiv"></div>
</mat-expansion-panel>

<app-resuable-table
  *ngIf="showQueryResult && !runningQuery"
  [columnNames]="this.queryResult!.columns"
  [data]="this.queryResult!.rows"
  [name]="currentQueryName"
  [columnUnits]="this.queryResult?.units"
  [pageSizes]="[100, 200, 500]"
></app-resuable-table>


<div
  *ngIf="!showQueryResult && !runningQuery"
  style="display: flex; justify-content: center; height: 100%; margin-top: 50px"
>
  <mat-icon style="font-size: 64px; color: white; height: 100px; width: 100px"
    >query_stats</mat-icon
  >
  <h1 style="color: white; margin-left: 20px">Run Queries To See Data!</h1>
</div>

<div
  *ngIf="runningQuery"
  style="display: flex; justify-content: center; height: 100%; margin-top: 50px"
>
  <h1 style="color: white; margin-left: 20px; margin-right: 10px">
    Running Query
  </h1>
  <mat-spinner diameter="100"></mat-spinner>
</div>

