.form-row {
    margin-top: 5px;
    display: inline-flex;
    border-radius: 10px; /* Adjust the radius as needed */
    align-items: center;
  }
  
  
.form-field {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: -10px;
    width: 250px;

}



.dark-mode-link {
  color: #5da7e8; /* Set the color to blue */

  /* Styling visited links */
  &:visited {
    color: #f24ed7; /* Set the color to purple for visited links */
  }
  
  /* Styling links when hovered */
  &:hover {
    color: #b02799; /* Set the color to red when hovered */
  }
  
  /* Styling links when they are active (clicked) */
  &:active {
    color: #30c75d; /* Set the color to green when active (clicked) */
  }
}

.filter-section{
  margin-top: 12px;
}

.download-button{
  margin-left: 20px;
  background-color: #572835;
}

.hide {
  display: none;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
