.form-row {
    margin-top: 5px;
    display: inline-flex;
    border-radius: 10px; /* Adjust the radius as needed */
    align-items: center;
  }
  
  
.form-field {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: -10px;
    width: 175px;

}

.form-field#sourcefiles_cb{
  width: 200px;
}

#search_bt{
  width: 100px;
  margin-right: 5px;
}


.hide {
  display: none;
}
