<div class="form-row">
  <mat-form-field class="form-field" style="width: 150px;">
    <mat-label>Analyst Agency</mat-label>
    <mat-select
      [(ngModel)]="selectedAnalystCenter"
      (ngModelChange)="onAnalystAgencyChange($event)"
      [disabled]="loading"
    >
      <mat-option *ngFor="let ac of analystCenters" [value]="ac">{{
        ac
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-field" id="sourcefiles_cb">
    <mat-label>Source Files</mat-label>
    <mat-select
      [(ngModel)]="selectedSourceFile"
      (selectionChange)="onSourceFileChanges($event.value)"
      [disabled]="loading"
    >
      <mat-option *ngFor="let sf of sourceFiles" [value]="sf">{{
        sf | urlLastPart
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Programmes</mat-label>
    <mat-select [formControl]="selectedProgramCtrl" multiple
    (selectionChange)="queryChanged()"
    >
      <mat-form-field>
        <input
          matInput
          placeholer="Search"
          (input)="filterItems($event.target)"
        />
      </mat-form-field>
      <mat-select-trigger>
        {{ selectedProgramCtrl.value?.[0] === ALLPROGRAMS ? selectedProgramCtrl.value![1] : selectedProgramCtrl.value![0] }}
        @if ((selectedProgramCtrl.value?.length || 0) > 1) {
          <span class="additional-selection">
            (+{{(selectedProgramCtrl.value?.length || 0) - 1}} {{selectedProgramCtrl.value?.length === 2 ? 'other' : 'others'}})
          </span>
        }
      </mat-select-trigger>

      <mat-option *ngFor="let program of programs" [value]="program"
      [class.hide]="!filteredPrograms.includes(program)"
      (onSelectionChange)="programSelectionChanged($event, program)"
      >
        {{ program }}
      </mat-option>
      
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-field" style="width: 150px;">
    <mat-label>Sessions From</mat-label>
    <input
      matInput
      [matDatepicker]="startDatePicker"
      [formControl]="startDate"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="startDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="form-field" style="width: 150px;">
    <mat-label>Sessions Until</mat-label>
    <input
      matInput
      [matDatepicker]="endDatePicker"
      [formControl]="endDate"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="endDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>


  <mat-form-field class="form-field" style="width: 150px;">
    <mat-label>Query Tag</mat-label>
    <input
      matInput
      [(ngModel)]="queryTag"
      (input)="queryTagChanged()"
      [disabled]="loading"
    />
  </mat-form-field>

  <button
    mat-flat-button
    color="accent"
    id="search_bt"
    (click)="runQuery()"
    [disabled]="loading"
  >
    Add Query
  </button>
  <mat-spinner
    diameter="30"
    color="accent"
    *ngIf="loading"
  ></mat-spinner>
</div>

<app-query-view [page]="'eop'"></app-query-view>
